# Need 3.8 for fixes around typing comments
flake8>=3.8
flake8-builtins
flake8-commas
flake8-comprehensions
flake8-debugger
flake8-isort
flake8-leading-blank-lines
flake8-mutable
flake8-todo
flake8-tuple

isort
