# Need 3.8 for fixes around typing comments
flake8>=3.8
flake8-builtins
flake8-commas
flake8-comprehensions
flake8-debugger
flake8-isort
flake8-mutable
flake8-todo
flake8-tuple

# Ensure consistent version of isort while we still support Python 3.5
# (isort >= 5 only supports Python 3.6+)
isort<5
